{
    "presets": [
      [
        "@babel/preset-env", // Transpile modern JavaScript
        {
          "targets": "> 0.25%, not dead" // Target browser and Node.js environments
        }
      ]
    ]
  }
  